.productListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    position: absolute;
}

.productListContainer>center>img {
    width: 60%;
    /* box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column; */
    /* height: 100vh; */
    text-align: center;
    /* position: absolute; */
}

.btn-box>button {
    height: 100%;
}

#productListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    margin: 2rem;
    color: black;
}

.productListTable {
    background-color: white;
    border: 1px solid white;
}

.productListTable div {
    font: 300 20px "Roboto";
    color: rgba(0, 0, 0, 0.678);
}

.productListTable a,
.productListTable button {
    color: rgb(161, 153, 153);
    transition: all 0.5s;
}

.MuiDataGrid-root .MuiDataGrid-cell--textLeft.MuiDataGrid-cell--withRenderer,
.MuiDataGrid-root .MuiDataGrid-cell--textLeft.MuiDataGrid-cell--editing {
    justify-content: center !important;
}

.productListTable a:hover {
    color: #065749;
}

.productListTable button {
    color: rgb(161, 153, 153);
}

.productListTable button:hover {
    color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
    column-width: 10px;
}

.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    text-align: center !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
    flex: 1;
    display: flex;
    padding: 0 6px;
    overflow: hidden;
    min-width: 0;
    white-space: nowrap;
    justify-content: center;
}

.MuiDataGrid-columnHeader {
    background-color: #065749;
    padding: 1vmax !important;
    border: 1px solid white;
}

.MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
    font: 500 20px "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
    display: none !important;
    color: rgb(255, 255, 255);
}


/* .MuiDataGrid-root .MuiDataGrid-cell {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-overflow: ellipsis;

} */

@media screen and (max-width: 900px) {
    .productListContainer>center>img {
        width: 90%;
        /* box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        border-left: 1px solid rgba(0, 0, 0, 0.158);
        display: flex;
        flex-direction: column; */
        /* height: 100vh; */
        text-align: center;
        /* position: absolute; */
    }
    .dashboard>.productListContainer>h1 {
        margin: 0;
        height: 0%;
    }
    footer {
        display: none;
    }
    .MuiDataGrid-columnHeader div {
        font: 300 18px "Roboto";
        color: rgb(255, 255, 255);
    }
    .MuiDataGrid-columnHeadersInner {
        font: 300 18px "Roboto";
    }
    .MuiDataGrid-columnHeaders {
        font: 300 18px "Roboto";
    }
    .MuiDataGrid-columnHeaderTitleContainer {
        font: 300 18px "Roboto";
    }
    .MuiDataGrid-columnHeaderTitle {
        font: 300 18px "Roboto";
    }
    .MuiDataGrid-columnHeader div {
        font: 500 20px "Roboto" !important;
    }
    .dashboard>img {
        height: 80%;
        width: 80%;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 13%;
        /* padding-top: 12%; */
        /* display: block; */
        /* margin-left: auto;
        margin-right: auto; */
        /* margin-top: 7vmax; */
        /* width: 90%; */
    }
    .productListTable>img {
        height: 80%;
        width: 80%;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 13%;
    }
    .productListTable div {
        font: 300 18px "Roboto";
    }
}