footer {
    /* position: fixed; */
    /* margin-top: 100vh; */
    padding: 2vmax;
    background-color: #006554;
    color: white;
    display: flex;
    align-items: center;
}

.leftFooter>a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Roboto";
    color: white;
    transition: all 0.5s;
    margin: 0.5vmax;
}

.leftFooter {
    width: 20%;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

.leftFooter>h4 {
    font-family: "Roboto";
    font-size: 1vmax;
}

.leftFooter>p {
    text-align: center;
    font-size: 1.2vmax;
    font-family: "Roboto";
}

.leftFooter>img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.leftFooter>a:hover {
    color: #a1a7a6;
    transition: all 0.5s;
}

.midFooter {
    width: 60%;
    text-align: center;
}

.midFooter>h1 {
    font-size: 4vmax;
    font-family: "Roboto";
    color: #eb4034;
}

.midFooter>img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

.midFooter>p {
    max-width: 60%;
    font-family: "Roboto";
    margin: 1vmax auto;
}

.rightFooter {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightFooter>h4 {
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
}

.rightFooter>a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Roboto";
    color: white;
    transition: all 0.5s;
    margin: 0.5vmax;
}

.rightFooter>a:hover {
    color: #a1a7a6;
}

@media screen and (max-width: 600px) {
    footer {
        display: none;
    }
}